$app-tab-height: 30px;

$splitter-width: 5px;
$splitter-color: #777;

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.tab-bar {
  min-height: 20px;
  flex-grow: 0;
  display: flex;
  padding: 2px 5px 0 5px;
  background-color: #eee;
  border-bottom: 1px solid #aaa;

  .tab-bar-add-button {
    border: none;
    outline: none;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 5px;
  }
}

.tab-bar-tab {
  padding: 3px 10px 2px 10px;
  border-radius: 5px 5px 0 0;
  border: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  outline: none;
  margin-bottom: -1px;
  background-color: #eee;

  &.selected {
    background-color: #fff;
    border-bottom: 1px solid #fff;
  }

  .close {
    margin-left: 10px;
    font-size: 1.1em;

    &:hover {
      font-weight: bold;
    }
  }
}

.app-tabs {
  flex-grow: 1;
}

.app-tab {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.hidden {
    display: none;
  }
}

.app-tab-toolbar {
  flex-grow: 0;
}

.pane-navigation {
  padding: 5px;
  border-bottom: 1px solid #ddd;

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 3px 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1em;
    border-radius: 5px;
    background-color: #eee;
  }
}

.app-tab-panes {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.primary-pane {
  flex-grow: 1;
}

.internal-pane {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.internal-start-pane {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0 0 15px 0;
    font-size: 3em;
  }

  input {
    width: 40vw;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    outline: none;
  }
}

.splitter {
  flex-grow: 0;
  width: $splitter-width;
  background-color: $splitter-color;
  cursor: ew-resize;
}

.secondary-pane {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.secondary-pane-tab-bar {
}

.secondary-pane-tabs {
  flex-grow: 1;
}

.secondary-pane-tab {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.hidden {
    display: none;
  }
}

.secondary-pane-tab-toolbar {
}

.secondary-pane-info {
}

.dummy-pane {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
